
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  
  <body>
    <h1>Receipt for <%= @order.id %></h1>
    <p>
      You have successfully placed an order,
      your order ID is: <%= @order.id %>.<br>
    </p>
    
    <div class="order-summary jumbotron">
        <h4>Thank you for your order!</h4>
    </div>
    
    <p>
        The total is: <%= number_to_currency(@order.total_cents/100) %>as well as each line item in the order.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>